*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: light coral;
}
    
nav
}


list style none;
display flex: none;
gap 2 rem;


cursor pointer
























